body {
    background-color:#111;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
  }

  #profile-picture{
    border-radius: 50%;
    width: 20%;
    justify-content: center;
  }
 
  #home{
    text-align: center;
    width: 100%;
    padding-top: 15%;
    
  }

  #about, #skills{
    padding-top: 10%;
  }

 .row1colur{
   border-style: groove;
  background-color: cadetblue;
 }


/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20pt;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  #name{
      font-size: 25pt;
      text-align: center;
      color: #ccc;
  }

  .container {
    border-radius: 5px;
    background-color: #111 ;
    width: 20%;
    margin: 0;
  }

  myImage {
    border-radius: 50%;
    align-content: center;
    padding:10px;
    width:200px;
  }

  footer{
      color: #ccc;
      font-size: 11pt;
      top: 20%;
      
      padding-left: 80%;
  }

  h1,h2, h3,h4,p{
      color: #ccc;
  }

  h3,h4{
      color: darkturquoise;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 40%;
    border: 1px solid #333;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 5px;
    text-align: center;
    border: 1px solid #aaa;
  }
  
  .flex-container > div > img{
    width: 95%;
  }
    
  .flex-container > div > h3{
    text-align: start;
    padding: 10px;
    color: #daa520;
  }
  */
  


  