body {
    background-image: url('bodyBackGroung.jpg');
    font-family: 'Open Sans','Lobster', 'Helvetica Neue', sans-serif;
    color: #111;
    padding: 10px;
  }

  .divPadding{
    padding: 5%;
  }

  .fa:hover {
    opacity: 0.7;
    color: #111;
  }

  .fa {
  color: #111;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5vh;
  background-image: url('divBackGroung.png');
 }

#skills > div > div > div
{
  height: 400px;
  margin: 0.03em;
  border: 4px solid #f1f1f1;
  background-image: url('divBackGroung.png');
}

#skills > div > div
{
  padding: 0.5em;
}

#projects > div > div > div
{
  height: 500px;
  padding: 1px;
  margin: 0.03em;
  border: 4px solid #f1f1f1;
  text-align: center;
}
#projects > div > div
{
  padding: 0.5em;
}

.anibutton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  font-weight: 600;
}

.anibutton:hover {background-color: #7bb4be}
  
.carsafety{
  background-image: url('carSafety.png');
}

.tictactoe{
  background-image: url(tic1.jpg);
}

.mazesolver{
  background-image: url(maze.jpg);
}

.vslam{
  background-image: url(slam.jpg);
}

.divresume{
  background-image: url(Resume.jpg);
}

#skills > div > div
{
  padding: 0.5em;
}

.divcontact{
  padding:10%;
  background-image: url('divBackGroung.png');
  border-radius: 8px;
  font-weight: bold;
}

.btn-xl {
  padding: 10px 20px;
  font-size: 14pt;
  border-radius: 6px;
  text-align: center;
  font-weight: 600;
}

.btn-xl:hover{
  color: #fff;
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  font-weight: bold
}

.flip-box-back {
  background-image: url('divBackGroung.png');
  color: #111;
  transform: rotateY(180deg);
  font-weight: bolder;
}

.flipbackContent{
  text-align: left;
  padding-top: 20px;
}

.divabout{
  background-image: url('divBackGroung.png');
  font-weight: bold;
}
