body {
    background-image: url('images/bodyBackGroung.jpg');
    font-family: 'Open Sans','Lobster', 'Helvetica Neue', sans-serif;
    color: #111;
    padding: 10px;
  }

  .divPadding{
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .resume{
    padding-bottom: 10%;
  }

  .fa:hover {
    opacity: 0.7;
  }

  .fa {
  color: #111;
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 5vh;
  background-image: url('images/divBackGroung.png');
 }

#skills > div > div > div
{
  height: 400px;
  border: 4px solid #f1f1f1;
  background-image: url('images/divBackGroung.png');
}

#projects > div > div > div
{
  height: 500px;
  border: 4px solid #f1f1f1;
}

.anibutton {
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 15px;
}

.anibutton:hover {background-color: #7bb4be}
  
.carsafety{
  background-image: url('images/carSafety.png');
}

.tictactoe{
  background-image: url('images/tic1.jpg');
}

.mazesolver{
  background-image: url('images/maze.jpg');
}

.vslam{
  background-image: url('images/slam.jpg');
}

.divresume{
  background-image: url('images/Resume.jpg');
}


.divcontact, .divabout{
  background-image: url('images/divBackGroung.png');
}

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-back {
  background-image: url('images/divBackGroung.png');
  transform: rotateY(180deg);
}

.topnav {
  overflow: hidden;
 position: relative;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  overflow: hidden;
  
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav button:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive button {
    float: none;
    display: block;
    text-align: left;
  }
}